.navbar {
    background-color: gray;
    height: 100px;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 100%;
}

.my-name {
    position: relative;
    color: white;
}

.link {
    position: relative;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s ease;
    width: 300px;
}

.link:hover {
    background-color: white;
    color: gray;
}

.link-text {
    font-size: 30px;
}
